.layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-height: 100vh;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
}

.multiple-buttons-wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
}